/* § RESET STYLES */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: montserrat;

  /* Just for testing */
  --border: 1px solid #ccc;
  --transition: 0.2s ease-in-out;
  --btn-transition: 0.05s ease-out;

  /* transition: var(--transition); */
}

/* Reset color input styles */
input[type="color"] {
  -webkit-appearance: none;
  border: none;
}
input[type="color"]::-webkit-color-swatch-wrapper {
  padding: 0;
}
input[type="color"]::-webkit-color-swatch {
  border: none;
}

:root {
  font-size: 20px;

  /* Shadow preset */
  --shadow: 0px 0.5px 0.6px rgba(0, 0, 0, 0.1),
    0px 1.6px 1.8px -0.8px rgba(0, 0, 0, 0.1),
    0px 4.1px 4.6px -1.7px rgba(0, 0, 0, 0.1),
    0px 9.9px 11.1px -2.5px rgba(0, 0, 0, 0.1);

  background-color: var(--bg-color);
}

body {
  min-width: 700px;
  height: 100vh;
  overflow-x: hidden;
}

h1 {
  font-weight: 300;
  text-transform: uppercase;
  color: var(--accent-color);
  font-size: 2rem;
}

h2 {
  font-weight: 300;
  text-transform: uppercase;
  color: var(--font-color);
  font-size: 1rem;
}

/* $ COLOR THEMES */

.color-theme-custom {
  /* UI dynamic colors */
  --bg-color: #f2f2f2;
  --accent-color: #93b17c;
  --font-color: #707070;
  --font-negative-color: #ffffff;

  /* UI static colors */
  --indicator-orange-color: orange;
  --indicator-red-color: orangered;
  --grey-color: #cccccc;
  --hover-color: #dddddd;

  /* Tags */
  --tag-1-color: #ffe047;
  --tag-2-color: #7ab4ff;
  --tag-3-color: #dd6b6b;
}

/* $ MAIN VIEW */
.main-view {
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  transition: var(--transition);
  min-width: 700px;
}

.main-view.shift {
  margin-left: 400px;
}

/* § NAVIGATION */

.main-view__nav {
  display: flex;
  height: 100px;
  padding: 20px;
  padding-right: 144px;
  justify-content: space-between;
}

.main-view__nav__title {
  align-self: center;
  text-align: center;
  height: 40px;
  line-height: 40px;
}

/* Header groups to help align the buttons and title */
.main-view__nav-col {
  display: flex;
  justify-content: space-between;
}

/* A trick to keep the calendar navigation centered between the title and the right column */
.main-view__nav-col:nth-child(3) {
  flex: 1;
  max-width: 20%;
  min-width: fit-content;
  display: flex;
  justify-content: space-between;
}

/* Calendar navigation */
.main-view__nav__controlls {
  display: flex;
  align-items: center;
}

.main-view__nav__controlls button {
  width: 35px;
  height: 35px;
}

.main-view__nav__controlls button:nth-child(2) {
  width: 50px;
  height: 50px;
}

/* § PLAN */

.main-view__plan {
  position: relative;
  flex: 1 0 auto;
}

.plan-week {
  height: 100%;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(4, minmax(150px, 200px));
  grid-template-rows: repeat(2, minmax(0, 1fr));
  gap: 20px;
  padding: 40px;
}

.plan-day {
  display: flex;
  flex-direction: column;
  max-width: 200px;
  border-radius: 10px;
  border: 1px solid var(--accent-color);
  padding: 5px;
}

/* Drag and drop */

.plan-day.drag-over {
  box-shadow: var(--accent-color) 0 0 5px;
}

.placeholder {
  height: 40px;
  background-color: var(--hover-color);
  border-radius: 5px;
  pointer-events: none;
}

.plan-day__title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 300;
  color: var(--accent-color);
  margin-bottom: 10px;
}

/* plan list */

.plan-day-list {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
  height: 100%;
}

.plan-day-list__item {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 300;
  font-size: 0.7rem;
  color: var(--font-color);
  background-color: white;
  border: var(--border);
  border-radius: 5px;
  padding: 5px;
  transition: var(--transition);
  /* overflow: hidden; */
}

.plan-day-list__item__tag {
  position: absolute;
  right: 0;
  width: 4px;
  height: 100%;
  border-radius: 0 5px 5px 0;
  background-color: var(--tag-2-color);
}

.plan-day-list__item__btn-delete {
  flex: 0 0 auto;
}

.plan-notes {
  display: flex;
  flex-direction: column;
  max-width: 200px;
  border-radius: 10px;
  border: 1px solid var(--font-color);
}

.plan-notes__title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 300;
  color: var(--font-color);
  padding: 5px;
}

/* § SHOPPING LIST */

.shopping-list {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(101%);
  width: 350px;
  height: 100vh;
  border-left: 1px solid var(--grey-color);
  backdrop-filter: blur(10px);
  transition: var(--transition);
}

.shopping-list-header {
  margin: 20px 20px 0 0;
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.shopping-list__btn-toggle {
  position: absolute;
  left: 0;
  transform: translate(-100%);
  transition: var(
    --transition
  ) !important; /* Used !important because there is a universal .btn class with different transition time */
}

.shopping-list-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 15px;
}

.shopping-list-item {
  display: flex;
  align-items: center;
  height: 45px;
  border-bottom: var(--border);
}

.shopping-list-item input,
.shopping-list-item div,
.shopping-list-item select {
  background-color: transparent;
  border: none;
  font-size: 0.8rem;
  font-weight: 300;
  color: var(--font-color);
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0 10px;
  width: 50px;
}

.shopping-list-item__checkbox {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}

.shopping-list-item__name {
  flex: 1;
}

/* Disable focus outline */
.shopping-list-item__name:focus,
.shopping-list-item__amount:focus,
.shopping-list-item__unit:focus {
  outline: none;
  font-weight: 400;
}

/* Disable the arrow */
.shopping-list-item__unit {
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: "";
}

/* For IE */
.shopping-list-item__unit::-ms-expand {
  display: none;
}

/* Disable arrows Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.shopping-list__btn-add {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  column-gap: 8px;
  color: var(--grey-color);
  font-weight: 300;
  font-size: 0.8rem;
  height: 45px;
  border: none;
  border-radius: 5px;
  background-color: transparent;
}

.shopping-list__btn-add svg {
  /* Minor optical fix */
  translate: -2px;
}

.shopping-list__btn-add:hover {
  color: var(--accent-color);
}

.shopping-list__btn-submit {
  margin-top: auto;
  width: 100%;
}

/* § SETTINGS */

.settings {
  min-width: 720px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: transparent;
}

.settings-content {
  position: absolute;
  width: fit-content;
  height: 90%;
  display: grid;
  grid-template-columns: 140px 1fr 60px;
  grid-template-rows: min-content;
  padding: 20px;
  justify-items: stretch;
  background-color: var(--bg-color);
  background-color: #eeeeee;
  gap: 20px;
}
/* Header */
.settings-header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  grid-column: 2/4;
  column-gap: 20px;
}

.settings-header h1 {
  display: flex;
  justify-content: center;
  flex: 1;
}

.settings__btn-catalog {
  justify-self: center;
  width: fit-content;
}

/* § THEME EDITOR */

.theme-editor {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 140px;
  height: 100%;
  grid-row: 1/5;
  grid-column: 1/2;
  background-color: #fff;
  box-shadow: var(--shadow);
  border-radius: 15px;
  transform-origin: top right;
  transform: rotate(-2deg);
  border: 1px solid #eee;
}

.theme-editor__bolt {
  position: absolute;
  right: 0;
  display: flex;
  justify-content: flex;
  align-items: center;
  width: 25px;
  height: 25px;
  margin: 10px;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.4) 0 1px 4px;
  background: rgb(255, 255, 255);
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(242, 242, 242, 1) 100%
  );
}

.theme-editor__bolt:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  background-color: #ddd;
  transform: rotate(-20deg);
}

.theme-editor__title {
  width: 100%;
  font-size: 1.5rem;
  font-weight: 100;
  padding: 20px;
  color: var(--accent-color);
}

.theme-editor__swatch {
  display: flex;
  flex-direction: column;
  flex: 1;
  width: 100%;
}

.theme-editor__swatch__preview {
  flex: 1;
  width: 100%;
  background-color: var(--bg-color);
  border: none;
}

.theme-editor__swatch__label {
  color: var(--font-color);
  font-size: 0.7rem;
  display: flex;
  flex-direction: row;
  padding: 5px;
  justify-content: space-between;
}

/* § SIDEBAR */
.sidebar {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 400px;
  height: 100%;
  top: 0;
  left: 0;
  translate: -100%;
  border-right: var(--border);
  background-color: var(--bg-color);
  transition: var(--transition);
}

.sidebar.active {
  translate: 0;
}

/* Tabs */
.sidebar-header {
  width: 100%;
  display: flex;
  /* border-bottom: 1px solid var(--grey-color); */
  height: 55px;
}

.sidebar-header__tab {
  position: relative;
  flex: 1;
  font-size: 0.8rem;
  font-weight: 300;
  color: var(--font-color);
  transition: var(--btn-transition);
  box-shadow: inset rgba(0, 0, 0, 0.1) 0 -5px 15px;
  border: var(--border);
}

.sidebar-header__tab:hover {
  background-color: #f9f9f9;
}
.sidebar-header__tab:active {
  background-color: var(--hover-color);
  box-shadow: inset rgba(0, 0, 0, 0.1) 0 0 5px;
}

.sidebar-header__tab:nth-child(2) {
  /* divider */
  border-left: 1px solid var(--grey-color);
}

.sidebar-header__tab.active {
  font-weight: 400;
  color: var(--accent-color);
  /* border-bottom: 5px solid var(--accent-color); */
  background-color: var(--bg-color);
  box-shadow: none;
  border: none;
}

/* Sidebar results options */
.sidebar-options {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
  padding: 10px;
  border-bottom: 1px solid var(--grey-color);
}

.sidebar-options .row {
  display: flex;
  align-items: center;
  column-gap: 10px;
}

.sidebar-options span {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  color: var(--accent-color);
  font-size: 0.8rem;
}

.sidebar__search-bar {
  position: relative;
  flex: 1;
  height: 30px;
}

.sidebar__search-bar input {
  padding: 0 10px 0 28px;
  width: 100%;
  height: 100%;
  border-radius: 15px;
  border: 1px solid var(--grey-color);
}

.sidebar__search-bar svg {
  position: absolute;
  height: 18px;
  top: 6px;
  left: 4px;
  color: var(--accent-color);
}

.sidebar-options select {
  padding: 0 10px;
  flex: 1;
  height: 30px;
  border-radius: 15px;
  border: 1px solid var(--grey-color);
}

/* § SIDEBAR CONTENT */

.sidebar-content {
  flex: 1;
  overflow-y: scroll;
}

/* Storage */
.list-item-storage {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  padding: 10px;
  column-gap: 10px;
  color: var(--font-color);
  border-bottom: 1px solid var(--grey-color);
  font-size: 0.7rem;
}

.list-item-storage__btn-bookmark svg {
  color: var(--grey-color);
}

.list-item-storage__title {
  flex: 1;
  font-size: 0.8rem;
}

.list-item-storage__unit {
  margin-right: 5px;
}

.list-item-storage__expiry {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 3px;
  width: 50px;
}

.expiry-indicator {
  width: 100%;
  height: 6px;
  border-radius: 3px;
  overflow: hidden;
  background-color: var(--grey-color);
}

.expiry-indicator__bar {
  height: 100%;
}

.list-item-storage__tag {
  position: absolute;
  right: 0;
  width: 5px;
  height: 100%;
  /* background-color: var(--tag-1-color); */
}

/* Recipe */

.list-item-recipe {
  display: flex;
  height: 100px;
  border-bottom: 1px solid var(--grey-color);
}

.list-item-recipe__title {
  text-decoration: none;
  color: var(--accent-color);
}

/* image wrapper */
.list-item-recipe__image {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100px;
  height: 100px;
  flex: 0 0 auto;
  overflow: hidden;
}

/* image */
.list-item-recipe__image img {
  /* min-width: 100px; */
  height: 100px;
}

/* tag inside the image wrapper */
.list-item-recipe__tag {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.6rem;
  font-weight: 500;
  bottom: 5px;
  width: fit-content;
  max-width: 80px;
  height: 18px;
  padding: 0 10px;
  border-radius: 10px;
  background-color: var(--tag-2-color);
  color: var(--font-color);
}

.list-item-recipe .col {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 5px;
}

/* Middle column */
.list-item-recipe .col:nth-child(2) {
  flex: 1;
  padding: 10px;
  font-size: 0.7rem;
  justify-content: space-between;
  color: var(--font-color);
}

.list-item-recipe__info {
  font-size: 0.6rem;
  display: flex;
  justify-content: space-around;
}

/* Difficulty level */
.info-difficulty {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 3px;
}

.info-difficulty__indicator {
  display: flex;
  justify-content: center;
  column-gap: 5px;
}

.info-difficulty__indicator svg {
  display: flex;
  justify-content: center;
  align-items: center;
  fill: var(--grey-color);
  width: 13px;
  height: 13px;
}
.info-difficulty__indicator svg.fill {
  fill: var(--accent-color);
  width: 13px;
  height: 13px;
}
.info-ingredients {
  width: 85px;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 6px;
}

.info-ingredients__indicator {
  width: 100%;
  height: 6px;
  border-radius: 3px;
  overflow: hidden;
  background-color: var(--grey-color);
}

.info-ingredients__indicator__bar {
  width: 50%;
  height: 100%;
  background-color: var(--tag-3-color);
}

/* § Sidebar expanded */

.sidebar.full-page {
  width: 100%;
}

.sidebar.full-page .sidebar-header {
  display: flex;
  height: 100px;
  padding: 20px;
  padding-right: 144px;
  justify-content: space-between;
}

.sidebar.full-page .sidebar-header__col {
  display: flex;
  justify-content: space-between;
}

.sidebar.full-page .sidebar-header__tabs {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  line-height: 40px;
}

.sidebar.full-page .sidebar-header__tabs__tab {
  padding: 10px 20px;
  border: none;
  font-size: 1rem;
  font-weight: 300;
  background-color: transparent;
  color: var(--font-color);
  transition: var(--transition);
}

.sidebar.full-page .sidebar-header__tabs__tab.active {
  font-size: 2rem;
  color: var(--accent-color);
}

.sidebar.full-page .sidebar-header__tabs__divider {
  width: 1px;
  height: 30px;
  background-color: var(--grey-color);
}

/* Sidebar full-page options */

.sidebar.full-page .sidebar-options {
  /* display: flex;
  flex-direction: column; */
  /* row-gap: 5px; */
  /* padding: 10px; */
  display: none;
  border-bottom: 1px solid var(--grey-color);
  background-color: grey;
}

.sidebar.full-page .sidebar-content {
  display: flex;
  justify-content: center;
  position: relative;
  flex: 1 0 auto;
}

.sidebar.full-page .sidebar-content__grid {
  width: fit-content;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(3, minmax(350px, 400px));
  gap: 40px;
  padding: 40px;
  overflow-x: scroll;
}

.sidebar-content__grid .col-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.5rem;
  font-weight: 300;
  color: var(--font-color);
  padding: 10px 0;
}

.sidebar-content__grid__storage-list {
  background-color: white;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: var(--shadow);
}

/* § ADD INGREDIENT */
.add-ingredient {
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.add-ingredient-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: white;
  z-index: 1;
  row-gap: 20px;
  max-width: fit-content;
  margin: 40px;
}

.add-ingredient-content__header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.add-ingredient-content__form {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  color: var(--font-color);
  font-size: 0.8rem;
  font-weight: 300;
  column-gap: 20px;
  row-gap: 15px;
  max-width: min-content;
}

.add-ingredient-content__form .row-1 {
  display: grid;
  grid-template-columns: minmax(150px, 280px) 120px;
  column-gap: 20px;
  min-width: min-content;
}

.add-ingredient-content__form .row-2 {
  display: grid;
  grid-template-columns: 70px 70px 100px 120px;
  column-gap: 20px;
  min-width: min-content;
}

.add-ingredient-content__form .col {
  position: relative;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}
.add-ingredient-content__form .col label {
  margin: 0 5px;
}
.add-ingredient-content__form input,
.add-ingredient-content__form select {
  height: 40px;
  border: 1px solid var(--grey-color);
  background-color: var(--bg-color);
  padding: 0 10px;
  border-radius: 5px;
}

/* § Suggestions / autocomplete */

.add-ingredient-content__form ul {
  position: absolute;
  top: 100%;
  width: 100%;
  max-height: 240px;
  /* padding-bottom: 40px; */
  list-style: none;
  border-left: var(--border);
  border-right: var(--border);
  background-color: white;
  border-radius: 5px;
  box-shadow: var(--shadow);
  overflow: hidden;
  overflow-y: scroll;
  z-index: 1;
}

.add-ingredient-content__form li {
  display: flex;
  align-items: center;
  height: 40px;
  padding: 0 10px;
  border-bottom: var(--border);
  cursor: pointer;
}

.add-ingredient-content__form li:hover {
  background-color: var(--bg-color);
}

.suggestions__btn-new {
  position: sticky;
  bottom: 0;
  display: flex;
  justify-content: center;
  border-top: 2px solid var(--grey-color);
  color: var(--accent-color);
  background-color: white;
  font-weight: 400;
}

.suggestions__btn-new svg {
  margin-left: auto;
  width: 20px;
  height: 20px;
}
/* § RECIPE PREVIEW */

.recipe-preview {
  position: absolute;
  display: flex;
  justify-content: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow-y: scroll;
  min-width: 720px;
}

.recipe-preview-content {
  position: relative;
  width: 90%;
  top: 40px;
  height: fit-content;
  z-index: 1;
  background-color: var(--bg-color);
  padding: 20px;
}

.recipe-preview__grid {
  position: relative;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 275px 1fr;
}

.recipe-preview__summary {
  position: relative;
  display: flex;
  flex-direction: column;
  box-shadow: var(--shadow);
  color: var(--font-color);
  background-color: white;
  max-height: 100%;
  overflow-y: scroll;
}

.recipe-preview__image {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100px;
  max-height: 180px;
  flex: 1 1 100px;
  overflow: hidden;
}

.recipe-preview__image img {
  width: 100%;
  min-height: auto;
}

.recipe-preview__btn-bookmark {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: var(--bg-color) !important;
  box-shadow: var(--shadow);
}

.recipe-preview__summary__info {
  position: relative;
  display: flex;
  justify-content: space-evenly;
  font-size: 0.8rem;
  padding: 25px 0 10px 0;
}

.recipe-preview__summary__info__tag {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: -15px;
  background-color: #7ab4ff;
  padding: 5px 15px;
  height: 30px;
  border-radius: 15px;
}

.recipe-summary__ingredients,
.recipe-summary__spices {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 10px 20px;
  font-size: 0.8rem;
  font-weight: 300;
  color: var(--font-color);
}

.recipe-summary__ingredients__title,
.recipe-summary__spices__title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1rem;
}

/* Navigation for changing number of servings */
.recipe-summary__ingredients__servings {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 0.8rem;
}

/* Servings btn's styling */
.recipe-summary__ingredients__servings .btn-icon {
  border: 1px solid var(--accent-color);
}

.recipe-summary__ingredients__servings .btn-icon:active {
  border: 1px solid var(--accent-color);
}

.recipe-summary__list-item {
  display: flex;
  padding: 0px 0;
}

.recipe-summary__list-item__indicator {
  color: var(--accent-color);
}

.recipe-summary__list-item__indicator svg {
  height: 20px;
  margin: 0 5px 0 0;
}

.recipe-summary__list-item__name {
  flex: 1;
}

.recipe-summary__list-item__amount {
  margin: 0 5px;
}

.recipe-preview__description {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.recipe-preview__header {
  display: flex;
}

.recipe-preview__btn-close {
  position: absolute;
  right: 0;
  flex: 0 0 auto;
}

.recipe-preview__title {
  text-align: center;
  padding: 0 60px;
  text-transform: unset;
}

.recipe-preview__instructions {
  font-weight: 300;
  font-size: 0.8rem;
  padding: 60px 60px 20px 60px;
  max-width: 800px;
  line-height: 1.2rem;
  columns: var(--font-color);
}

/* § PRODUCT CATALOG */
.product-catalog {
  position: absolute;
  display: flex;
  justify-content: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* overflow-y: scroll; */
}

.product-catalog-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 100%;
  min-height: 100%;
  height: fit-content;
  z-index: 1;
  background-color: var(--bg-color);
  padding: 20px;
  row-gap: 20px;
}

.product-catalog-header {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
}

.product-catalog-header__btn-close {
  position: absolute;
  right: 0;
}

/* options */
.product-catalog-options {
  margin-top: 20px;
  padding: 10px;
  width: 100%;
  max-width: 1024px;
  display: flex;
  align-items: center;
  column-gap: 10px;
}

.product-catalog-options input {
  flex: 1;
}

.product-catalog-options span {
  font-weight: 300;
  font-size: 0.8rem;
}

.product-catalog-options select {
  padding: 0 10px;
  height: 30px;
  border-radius: 15px;
  border: 1px solid var(--grey-color);
}

.product-catalog-table__wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
}

.product-catalog-table {
  flex: 1;
  background-color: white;
  border-radius: 5px;
  max-width: 1024px;
  overflow: hidden;
  box-shadow: var(--shadow);
  border-collapse: collapse;
  border: var(--border);
  font-size: 0.8rem;
  text-align: center;
}

.product-catalog-table tr:nth-child(odd) {
  background-color: var(--bg-color);
}

.product-catalog-table th {
  width: 56px;
  font-weight: 400;
  color: var(--accent-color);
  background-color: white;
  text-align: center;
}

.product-catalog-table th:nth-child(2) {
  min-width: 250px;
  width: max-content;
}

.product-catalog-table th:nth-child(3),
.product-catalog-table th:nth-child(4),
.product-catalog-table th:nth-child(5),
.product-catalog-table th:nth-child(6) {
  min-width: 10px;
  width: 100px;
}

.product-catalog-table td:nth-child(2) {
  text-align: left;
}

.product-catalog-table .tag {
  position: relative;
  left: 50%;
  translate: -50%;
  font-weight: 400;
  width: fit-content;
  height: 20px;
  border-radius: 10px;
  padding: 0 10px;
}

.product-catalog-table td {
  font-weight: 300;
  color: var(--font-color);
}

.product-catalog-table td,
.product-catalog-table th {
  border: var(--border);
  padding: 5px 10px;
}

/* § ADD TO CATALOG */
.add-to-catalog {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.add-to-catalog-content {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 500px;
  width: fit-content;
  padding: 20px;
  background-color: var(--bg-color);
  box-shadow: var(--shadow);
  row-gap: 20px;
  border: var(--border);
}

.add-to-catalog-content__header {
  position: relative;
  display: flex;
  align-items: center;
  align-self: stretch;
  justify-content: space-between;
}

.add-to-catalog-content__form {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  color: var(--font-color);
  font-size: 0.8rem;
  font-weight: 300;
  column-gap: 20px;
  row-gap: 15px;
  max-width: min-content;
}

.add-to-catalog-content__form .row-1 {
  display: grid;
  grid-template-columns: minmax(150px, 280px) 120px;
  column-gap: 20px;
  min-width: min-content;
}

.add-to-catalog-content__form .row-2 {
  display: grid;
  grid-template-columns: 120px 120px 120px;
  column-gap: 20px;
  min-width: min-content;
}

.add-to-catalog-content__form .col {
  position: relative;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}
.add-to-catalog-content__form .col label {
  margin: 0 5px;
}
.add-to-catalog-content__form input,
.add-to-catalog-content__form select {
  height: 40px;
  border: 1px solid var(--grey-color);
  background-color: var(--bg-color);
  padding: 0 10px;
  border-radius: 5px;
}

/* § Suggestions / autocomplete */

.add-to-catalog-content__form ul {
  position: absolute;
  top: 100%;
  width: 100%;
  list-style: none;
  border-left: var(--border);
  border-right: var(--border);
  background-color: white;
  border-radius: 5px;
  box-shadow: var(--shadow);
  overflow: hidden;
  z-index: 1;
}

.add-to-catalog-content__form li {
  display: flex;
  align-items: center;
  height: 40px;
  padding: 0 10px;
  border-bottom: var(--border);
}

.add-to-catalog-content__form li:hover {
  background-color: var(--bg-color);
}

/* § UNIVERSAL STYLES */

/* Btn */
.btn {
  padding: 0 15px;
  height: 40px;
  border: none;
  background-color: var(--accent-color);
  color: var(--font-negative-color);
  font-size: 0.8rem;
  font-weight: 400;
  border-radius: 5px;
  transition: var(--btn-transition);
}

/* Btn icon */
.btn-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  border: none;
  border-radius: 50%;
  background-color: transparent;
  color: var(--accent-color);
  transition: var(--btn-transition);
}

.btn-icon:hover {
  background-color: #f9f9f9;
  box-shadow: var(--shadow);
}

.btn-icon:active {
  border: var(--border);
  background-color: #eee;
  box-shadow: inset rgba(0, 0, 0, 0.1) 0 0 5px;
}

.btn-icon svg {
  transition: var(--btn-transition);
}

.btn-icon:hover svg {
  scale: 1.1;
}

.btn-icon:active svg {
  scale: 1;
}

.btn-icon.small {
  width: 35px;
  height: 35px;
}

.btn-icon.small svg {
  max-height: 20px;
}

.btn-icon.tiny {
  width: 20px;
  height: 20px;
}

.btn-icon.tiny svg {
  max-height: 15px;
}

.btn-icon.fill svg {
  fill: var(--grey-color);
  color: transparent;
}

.btn-icon.active svg {
  color: transparent;
  fill: var(--accent-color);
}

.btn-outline {
  background-color: transparent;
  border: 1px solid var(--accent-color);
  color: var(--accent-color);
}

.btn-outline:hover {
  background-color: var(--accent-color);
  border: 1px solid var(--accent-color);
  color: var(--font-negative-color);
  box-shadow: var(--shadow);
}

.btn-outline:active {
  background-color: var(--accent-color);
  border: 1px solid var(--accent-color);
  color: var(--font-negative-color);
  box-shadow: inset rgba(0, 0, 0, 0.1) 0 0 5px;
}

.search-bar {
  position: relative;
  flex: 1;
  height: 30px;
}

.search-bar input {
  padding: 0 10px 0 28px;
  width: 100%;
  height: 100%;
  border-radius: 15px;
  border: 1px solid var(--grey-color);
}

.search-bar svg {
  position: absolute;
  height: 18px;
  top: 6px;
  left: 4px;
  color: var(--accent-color);
}

.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  /* backdrop-filter: blur(5px); */
}

.hidden {
  display: none;
}

/* § CHECKBOX CUSTOM STYLE */

input[type="checkbox"] {
  /* Add if not using autoprefixer */
  -webkit-appearance: none;
  /* Remove most all native input styles */
  appearance: none;
  /* For iOS < 15 */
  background-color: transparent;
  /* Not removed via appearance */
  /* margin: 0; */
  padding: 0;
  font: inherit;
  color: currentColor;
  width: 20px;
  height: 20px;
  border: 2px solid var(--grey-color);
  border-radius: 5px;
  display: grid;
  place-content: center;
}

input[type="checkbox"]::before {
  content: "";
  width: 30px;
  height: 30px;
  clip-path: polygon(20% 45%, 10% 55%, 50% 90%, 90% 16%, 80% 10%, 43% 62%);
  transform: scale(0);
  transform-origin: center;
  transition: 0.1s transform ease-in-out;
  /* Windows High Contrast Mode */
  background-color: var(--accent-color);
}

input[type="checkbox"]:checked::before {
  transform: scale(1);
}

input[type="checkbox"]:focus {
  outline: none;
}

input[type="checkbox"]:disabled {
  color: grey;
  cursor: not-allowed;
}

/* $ RESPONSIVE LAYOUT BREAKPOINTS */

@media screen and (max-width: 820px) {
  /* Make the title smaller */
  .main-view__nav__title {
    line-height: 30px;
  }
  .main-view__nav__title h1 {
    font-size: 1.3rem;
  }
  .main-view__nav__title h2 {
    font-size: 0.9rem;
  }
}

@media screen and (min-width: 1024px) {
  /* Center the title with the screen */
  .main-view__nav__title {
    position: absolute;
    left: 50%;
    translate: -50%;
  }

  /* Make add product form one row instead of two */
  .add-ingredient-content__form {
    max-width: max-content;
  }

  .add-to-catalog-content__form {
    max-width: max-content;
  }

  /* When sidebar is active */
  .main-view.shift .main-view__nav__title {
    position: relative;
    left: auto;
    translate: 0;
  }
}

/* When sidebar is active */
@media screen and (max-width: 1220px) {
  /* Make the title smaller */
  .main-view.shift .main-view__nav__title {
    line-height: 30px;
  }
  .main-view.shift .main-view__nav__title h1 {
    font-size: 1.3rem;
  }
  .main-view.shift .main-view__nav__title h2 {
    font-size: 0.9rem;
  }
}
