/* § RESET STYLES */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: montserrat;

  /* Just for testing */
  --border: 1px solid #ccc;
  --transition: 0.2s ease-in-out;
  --btn-transition: 0.1s ease-in-out;
}

:root {
  font-size: 20px;

  /* Shadow preset */
  --shadow: 0px 0.5px 0.6px rgba(0, 0, 0, 0.1),
    0px 1.6px 1.8px -0.8px rgba(0, 0, 0, 0.1),
    0px 4.1px 4.6px -1.7px rgba(0, 0, 0, 0.1),
    0px 9.9px 11.1px -2.5px rgba(0, 0, 0, 0.1);

  background-color: var(--bg-color);
}

body {
  min-width: 700px;
  height: 100vh;
}

h1 {
  font-weight: 300;
  text-transform: uppercase;
  color: var(--accent-color);
  font-size: 2rem;
}

h2 {
  font-weight: 300;
  text-transform: uppercase;
  color: var(--font-color);
  font-size: 1rem;
}

/* $ COLOR THEMES */
.color-theme-custom {
  /* UI dynamic colors */
  --bg-color: #f2f2f2;
  --accent-color: #93b17c;
  --font-color: #707070;
  --font-negative-color: #ffffff;

  /* UI static colors */
  --indicator-orange-color: orange;
  --indicator-red-color: orangered;
  --grey-color: #cccccc;

  /* Tags */
  --tag-1-color: #ffe047;
  --tag-2-color: #7ab4ff;
  --tag-3-color: #dd6b6b;
}

/* $ MAIN VIEW */
.main-view {
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  /* margin-left: 350px; */
}

/* § NAVIGATION */
.main-view__nav {
  display: flex;
  height: 100px;
  padding: 20px;
  padding-right: 144px;
  justify-content: space-between;
}

.main-view__nav__title {
  align-self: center;
  text-align: center;
  height: 40px;
  line-height: 40px;
}

/* Header groups to help align the buttons and title */
.main-view__nav-col {
  display: flex;
  justify-content: space-between;
}

/* A trick to keep the calendar navigation centered between the title and the right column */
.main-view__nav-col:nth-child(3) {
  flex: 1;
  max-width: 20%;
  min-width: fit-content;
  display: flex;
  justify-content: space-between;
}

/* Calendar navigation */
.main-view__nav__controlls {
  display: flex;
  align-items: center;
}

.main-view__nav__controlls button {
  width: 35px;
  height: 35px;
}

.main-view__nav__controlls button:nth-child(2) {
  width: 50px;
  height: 50px;
}

/* § PLAN */
.main-view__plan {
  position: relative;
  flex: 1 0 auto;
}

.plan-week {
  height: 100%;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(4, minmax(150px, 200px));
  grid-template-rows: repeat(2, minmax(0, 1fr));
  gap: 20px;
  padding: 40px;
}

.plan-day {
  display: flex;
  flex-direction: column;
  max-width: 200px;
  border-radius: 10px;
  border: 1px solid var(--accent-color);
}

.plan-day__title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 300;
  color: var(--accent-color);
  padding: 5px;
}

.plan-notes {
  display: flex;
  flex-direction: column;
  max-width: 200px;
  border-radius: 10px;
  border: 1px solid var(--font-color);
}

.plan-notes__title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 300;
  color: var(--font-color);
  padding: 5px;
}

/* § SHOPPING LIST */

.shopping-list {
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(101%);
  width: 350px;
  height: 100vh;
  border: 1px solid var(--grey-color);
  backdrop-filter: blur(10px);
  transition: var(--transition);
}

.shopping-list-header {
  margin: 20px 20px 0 0;
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.shopping-list__btn-toggle {
  position: absolute;
  left: 0;
  transform: translate(-100%);
  transition: var(--transition);
}

/* § UNIVERSAL STYLES */

/* Btn */
.btn {
  padding: 0 15px;
  height: 40px;
  border: none;
  background-color: var(--accent-color);
  color: var(--font-negative-color);
  font-size: 0.8rem;
  font-weight: 400;
  border-radius: 5px;
}

/* Btn icon */
.btn-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  border: none;
  border-radius: 50%;
  background-color: transparent;
  color: var(--accent-color);
  transition: var(--btn-transition);
}

.btn-icon:hover {
  background-color: #f9f9f9;
  box-shadow: var(--shadow);
}

.btn-icon:active {
  border: var(--border);
  background-color: #eee;
  box-shadow: inset rgba(0, 0, 0, 0.1) 0 0 5px;
}

.btn-icon svg {
  transition: var(--btn-transition);
}

.btn-icon:hover svg {
  scale: 1.1;
}

.btn-icon:active svg {
  scale: 1;
}

/* $ RESPONSIVE LAYOUT BREAKPOINTS */
@media screen and (min-width: 1024px) {
  /* Center the title with the screen */
  .main-view__nav__title {
    position: absolute;
    left: 50%;
    translate: -50%;
  }
}

@media screen and (max-width: 820px) {
  /* Make the title smaller */
  .main-view__nav__title {
    line-height: 30px;
  }
  .main-view__nav__title h1 {
    font-size: 1.3rem;
  }
  .main-view__nav__title h2 {
    font-size: 0.9rem;
  }
}
